<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Username</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>
<body>
<header class="header">
    <h1>{{ username }}'s Poker Home</h1>
    <nav class="header-nav">
        <a href="/my-sessions" class="nav-item">Session</a>
        <a href="/search" class="nav-item">Search</a>
        <a href="/settings" class="nav-item active">User Settings</a>
        <a href="/pokerMain" class="nav-item">Poker Main</a>
        <a href="/logout" class="nav-item">Log Out</a>
    </nav>
</header>
<main class="main-content">
    <div class="changeUsername-container">
        {% if errorMessage %}
        <div class="error-message">{{ errorMessage }}</div>
        {% endif %}
        {% if successMessage %}
        <div class="success-message">{{ successMessage }}</div>
        {% endif %}

        <form action="/settings/change-username" method="POST" id="changeUsernameForm">
            <div class="form-group">
                <label for="newUsername">New Username:</label>
                <input type="text" id="newUsername" name="newUsername" required>
            </div>

            <button id="change-username-button" class="button" type="submit">Submit</button>
        </form>
    </div>
</main>
</body>
</html>
