<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>
<body>
<header class="header">
    <h1>{{ username }}'s Poker Home</h1>
    <nav class="header-nav">
        <a href="/my-sessions" class="nav-item">Session</a>
        <a href="/search" class="nav-item">Search</a>
        <a href="/settings" class="nav-item">User Settings</a>
        <a href="/pokerMain" class="nav-item">Poker Main</a>
        <a href="/logout" class="nav-item">Log Out</a>
    </nav>
</header>
<main class="main-content">
    <div class="changePassword-container">
        {% if errorMessage %}
        <div class="error-message">{{ errorMessage }}</div>
        {% endif %}
        {% if successMessage %}
        <div class="success-message">{{ successMessage }}</div>
        {% endif %}

        <form action="/settings/change-password" method="POST" id="changePasswordForm">
            <div class="form-group">
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword" required>
            </div>

            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>

            <button id="change-password-button" class="button" type="submit">Submit</button>
        </form>
    </div>
</main>
<script>
    document.getElementById('changePasswordForm').onsubmit = function() {
        var currentPassword = document.getElementById('currentPassword').value;
        var newPassword = document.getElementById('newPassword').value;
        if (currentPassword === newPassword) {
            alert("New password must be different from the current password.");
            return false;
        }
        return true;
    };
</script>
</body>
</html>

