<!DOCTYPE html>
<html>
<head>
    <title>Create Session</title>
</head>
<body>
    <h1 class="header">Create Session</h1>
    <div class="sidebar">
        <h2 class="sidebar-title">Menu</h2>
        <nav class="sidebar-nav">
            <a href="/my-sessions" class="nav-item">Session</a>
            <a href="/search" class="nav-item">Search</a>
            <a href="/settings" class="nav-item">User Settings</a>
            <a href="/pokerMain" class="nav-item">Poker Main</a>
            <a href="/logout" class="nav-item">Log Out</a>
        </nav>
    </div>

    <div class="createSession-container">
        <form action="/create-session" method="post" id="create-session-form">
            <label for="date">Date:</label>
            <input type="date" name="date" required>
            
            <label for="buyIn">Buy in:</label>
            <input type="number" name="buyIn" required>
            
            <label for="cashOut">Cash out:</label>
            <input type="number" name="cashOut" required>
            
            <label for="location">Location:</label>
            <input type="text" name="location" required>
            
            <button type="submit" class="button">Create Session</button>
        </form>
    </div>
</body>
</html>
