<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <title>My Sessions</title>
</head>
<body>
<header class="header">
    <h1>{{ username }}'s Poker Home</h1>
    <nav class="header-nav">
        <a href="/my-sessions" class="nav-item">Session</a>
        <a href="/search" class="nav-item">Search</a>
        <a href="/settings" class="nav-item">User Settings</a>
        <a href="/pokerMain" class="nav-item">Poker Main</a>
        <a href="/logout" class="nav-item">Log Out</a>
    </nav>
</header>

    <aside class="sidebar">
        <h2 class="sidebar-title">Menu</h2>
        <nav class="sidebar-nav">
            <a href="/my-sessions" class="nav-item">Session</a>
            <a href="/search" class="nav-item">Search</a>
            <a href="/settings" class="nav-item">User Settings</a>
            <a href="/pokerMain" class="nav-item">Poker Main</a>
            <a href="/logout" class="nav-item">Log Out</a>
        </nav>
    </aside>

    <div class="mySessions-container">
        <div class="session-options">
            <div class="session-option">
                <a href="/view-sessions" class="button">View My Sessions</a>
                <img src="../static/images/view.png" alt="View Sessions">
            </div>
            <div class="session-option">
                <a href="/create-session" class="button">Create a Session</a>
                <img src="/static/images/create.png" alt="Create Session">
            </div>
           
        </div>

    </div>
</div>
</body>
</html>


