<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker Analysis Pro</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
</head>

<body>
    <div class="header">
        <h1>Register</h1>
    </div>

    <div class="register-container">
        {% if error %}
            <div class="error-message">
                <span>{{ error }}</span>
            </div>
        {% endif %}

        <form action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" value="" required>
    
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" value="" required>
    
            <input class="button" type="submit" value="Register">
        </form>
    </div>
</body>

</html>