<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker Analysis Pro</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
</head>

<body>
    <div class="header">
        <h1>{{ username }}'s Poker Home</h1>
    </div>

    <div class="sidebar">
        <h2 class="sidebar-title">Menu</h2>
        <nav class="sidebar-nav">
            <a href="/logout" class="nav-item">Log Out</a>
        </nav>
    </div>

    <div>
        <h2 class="test-h2">Hey you've logged in!</h2>
    </div>
</body>

</html>