<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Sessions</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>
<body>
<header class="header">
    <h1>{{ username }}'s Poker Home</h1>
    <nav class="header-nav">
        <a href="/my-sessions" class="nav-item active">Session</a>
        <a href="/search" class="nav-item">Search</a>
        <a href="/settings" class="nav-item">User Settings</a>
        <a href="/pokerMain" class="nav-item">Poker Main</a>
        <a href="/logout" class="nav-item">Log Out</a>
    </nav>
</header>
<main class="main-content">
    <h1 class="subHeader">My Sessions</h1>
    <div class="viewSessions-container">
        {% if sessions %}
        <ul class="sessions-list">
            {% for session in sessions %}
            <li class="session-item">
                <p>Date: {{ session.date }}</p>
                <p>Buy In: {{ session.buyIn }}</p>
                <p>Cash Out: {{ session.cashOut }}</p>
                <p>Profit: {{ session.profit }}</p>
                <p>Location: {{ session.location }}</p>
                <!-- Delete session form -->
                <form action="/delete-session/{{ session._id }}" method="POST">
                    <button class="button" type="submit">Delete Session</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No sessions found.</p>
        {% endif %}
    </div>
</main>
</body>
</html>


